@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.linear-overlay {
  background: linear-gradient(
    -75deg,
    #005aba calc(var(--x) + 20%),
    rgb(255, 255, 255) calc(var(--x) + 25%),
    #005aba calc(var(--x) + 100%)
  );
  mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  -webkit-mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}
.customShadow{
  /* Shadow/100 */
    box-shadow: 2px 2px 4px -2px rgba(24, 39, 75, 0.12), 5px 4px 4px -2px rgba(24, 39, 75, 0.08);
}
